/*----------------------------------
---------------Variables------------
------------------------------------*/
$images-path: "../resources/images/"; //
$fonts-path: "../resources/fonts/"; //
// -------------------------------
// Main Colors
$white: #ffffff !default;
$black: #000000 !default;

$gray-light: #F2F2F2;

$blue-site: #2C3DD2;
$blue-light: #A9AFF0;
$blue-medium:#323264;
$blue-semidark:#0A24A5;
$blue-dark:#0E0E49;

$green-semilight:#04afaa;
$green-medium:#0e817d;
$green-semidark: #1F8F92;

$yellow-light:#FEEFD2;
$yellow-medium:#FAB71D;

$magenta-light: #E8DBFF;
$magenta-semilight:#F28FAE;
$magenta-medium:#E51F5D;

$orange-light: #f39281;
$orange-semilight:#FA6B61;
$orange-medium:#EA2606;
